<p-table [columns]="headers" [value]="devices" dataKey="id" editMode="row" [resizableColumns]="true">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
          <th style="width:8rem;"></th>
      </tr>
  </ng-template>
  <!--<ng-template pTemplate="body" let-rowData let-columns="columns">-->
  <ng-template pTemplate="body" let-device let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="device">
        <!--
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
        -->
        <td>{{device.id}}</td>
        <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="device.serialNumber" [style]="{'width':'100%'}">
                </ng-template>
                <ng-template pTemplate="output">
                    {{device.serialNumber}}
                </ng-template>
            </p-cellEditor>
        </td>
        <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="device.equipmentNumber" [style]="{'width':'100%'}">
                </ng-template>
                <ng-template pTemplate="output">
                    {{device.equipmentNumber}}
                </ng-template>
            </p-cellEditor>
        </td>
        <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="device.type" [style]="{'width':'100%'}">
                </ng-template>
                <ng-template pTemplate="output">
                    {{device.type}}
                </ng-template>
            </p-cellEditor>
        </td>
        <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input type="checkbox" [(ngModel)]="device.lend" [style]="{'width':'100%'}">
                </ng-template>
                <ng-template pTemplate="output">
                    <input type="checkbox" [(ngModel)]="device.lend" disabled="true">
                </ng-template>
            </p-cellEditor>
        </td>
        <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="device.owner" [style]="{'width':'100%'}">
                </ng-template>
                <ng-template pTemplate="output">
                    {{device.owner}}
                </ng-template>
            </p-cellEditor>
        </td>
        <td>
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="device.lender" [style]="{'width':'100%'}">
                </ng-template>
                <ng-template pTemplate="output">
                    {{device.lender}}
                </ng-template>
            </p-cellEditor>
        </td>
        <td>{{device.createDate | date: 'medium'}}</td>
        <td>{{device.updateDate}}</td>
        <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(device)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(device)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(device, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
        </td>

      </tr>
  </ng-template>
</p-table>